[submodule "ProjectEngine/vendor/spdlog"]
	path = ProjectEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ProjectEngine/vendor/GLFW"]
	path = ProjectEngine/vendor/GLFW
	url = https://github.com/DavidConsidine/glfw
